.hide-on-inactive {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in;
  }

  .inactive-ui .hide-on-inactive {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
  }

.leaflet-control-attribution {
  z-index: 0 !important;
}

.react-confirm-alert-body {
  max-width: calc(100vw - 32px);
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .map-toolbar {
    flex-direction: column-reverse;
    align-items: flex-end !important;
  }
  .map-placer {
    top: auto !important;
    bottom: 60px !important;
  }
}
